# NEXT_PUBLIC_API_BASE_URL=https://hau.telesip.vn/api/v1
NEXT_PUBLIC_API_BASE_URL=https://dhtk.telesip.vn/api/v1
LIGHT_RAG_BASE_URL=http://103.216.124.107:9621
LIGHT_RAG_BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJndWVzdCIsImV4cCI6MTc3NDMxOTMxMiwicm9sZSI6Imd1ZXN0IiwibWV0YWRhdGEiOnsiYXV0aF9tb2RlIjoiZGlzYWJsZWQifX0.e-svayin10i-NKdOAnYhnjaDnN7YR3Pr0UFEGNspxCg